.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
}
.blogContent {
  background-color: rgb(244, 249, 249);
  display: grid;
  grid-template-rows: 1fr 3fr 0.3fr;
}
.buttons{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 2rem

  

}
.buttons.btn{
  margin-left: 2rem;
}
.custom1{
  margin-left: 2rem;
}


.heading {
  margin: 2rem 2rem;

  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.blogText {

  padding: 1rem;
  margin: 2rem 2rem;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr;
  }
}
